.form{
    background-color: var(--secondary-text-color);
    padding: 1.125rem;
    box-shadow: 0 0 0.125rem var(--primary-shadow-color),
    0 0 0.25rem var(--primary-shadow-color);
    border-radius: var(--primary-border-radius);
    max-width: 360px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: --primary-font-family;
    
}

.form__img{
    max-width: 360px;
}

.form__legend{
    color: var(--secondary-highlight-color);
    font-size: var(--primary-text-font-size);
    margin: 0;
}

.form__label{
    font-size: var(--primary-text-font-size);
    color: var(--primary-text-color);
}

.form__input,.form__textarea{
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.form__input, .form__input::placeholder{
    font-size: var(--nav-primary-font-size);
}

.form__button{
    display: flex;
    justify-content: end;
}

@media (min-width: 768px){
    .form__img{
        max-width: 450px;
    }
    .bg-color{
        background-color: var(--secondary-button-color);
        box-shadow: 0 0 0.125rem var(--primary-shadow-color),
    0 0 0.25rem var(--primary-shadow-color);
    border-radius: var(--primary-border-radius);
    overflow: hidden;
    transition: box-shadow 0.25s;
    padding: 2rem 0 3rem 0rem;
    box-sizing: border-box;
    }
    .bg-color:hover {
        box-shadow: 0 0 0.25rem 0 var(--primary-highlight-color);
      }
}