.banner{
    background-image: url("../../assets/img/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 2rem;
}

.banner__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, .7);
}

.banner__title, .banner__description{
    margin: 0;
    color: white;
}

.banner__title{
    font-size: 2rem;
    text-align: center;
}

.banner__description{
    font-size: 1.2rem;
}
