.header{
    position: fixed;
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 0.125rem 0.125rem var(--reverse-primary-shadow-color);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header__container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__container-title{
    margin: auto;
}

.header__title{
    font-size: var(--secondary-text-font-size);
}

.header__title-span{
    font-size: var(--nav-primary-font-size);
    font-weight: 400;
}

.header__container-nav{
    position: relative;
    background-color: var(--primary-theme-color);
}