.header{
    position: fixed;
    background-color: var(--primary-theme-color);
    box-shadow: 0 0 0.125rem 0.125rem var(--reverse-primary-shadow-color);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &__container{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__container-title{
        margin: auto;
    }

    &__title{
        font-size: var(--secondary-text-font-size);
    }

    &__title-span{
        font-size: var(--nav-primary-font-size);
        font-weight: 400;
    }

    &__container-nav{
        position: relative;
        background-color: var(--primary-theme-color);
    }

}