@import '../css/modules/layout.css';
@import '../css/modules/utils.css';
@import '../css/modules/card.css';
@import '../css/modules/variables.css';
@import '../css/modules/buttons.css';
@import '../css/modules/header.css';
@import '../css/modules/nav.css';
@import '../css/modules/banner.css';
@import '../css/modules/form.css';

.body{
    font-family: var(--primary-font-family);
    margin: 0;
}

.main{
    overflow: hidden;
}

.header__title,
.nav-list,
.banner__container{
    padding: 1rem 1rem;
    margin: 0;
}